[client]
port			      = 3306
socket			      = /var/run/mysqld/mysqld.sock
default-character-set = utf8

[mysqld]
bind-address		          = 0.0.0.0
datadir			              = /app/data/database
port			              = 3306
socket			              = /var/run/mysqld/mysqld.sock
pid-file		              = /var/run/mysqld/mysqld.pid
aria-log-dir-path             = /app/data/logs/mysql/
general_log_file              = /app/data/logs/mysql/general.log
general_log                   = 1
long_query_time               = 2
slow-query-log                = 1
slow-query-log-file           = /app/data/logs/mysql/slow.log
log_queries_not_using_indexes = 1
key_buffer_size 	          = 16M
max_allowed_packet 	          = 1M
table_open_cache 	          = 64
sort_buffer_size 	          = 512K
net_buffer_length 	          = 8K
read_buffer_size 	          = 256K
read_rnd_buffer_size    	  = 512K
myisam_sort_buffer_size       = 8M
log-bin                       = mysql-bin
binlog_format                 = mixed
server-id	                  = 1
collation-server              = utf8_unicode_ci
init-connect                  = 'SET NAMES utf8'
character-set-server          = utf8
innodb_data_home_dir 		  = /app/data/database
innodb_data_file_path 		  = ibdata1:10M:autoextend
skip-external-locking
skip_name_resolve
skip-host-cache

[mysqldump]
max_allowed_packet = 16M
quick

[mysql]
default-character-set = utf8
no-auto-rehash

[myisamchk]
key_buffer_size  = 20M
sort_buffer_size = 20M
read_buffer      = 2M
write_buffer     = 2M

[mysqlhotcopy]
interactive-timeout

!includedir /app/config/